
/* Global Styles */
body {
    background-color: #e1e1dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.b-content{
    margin: 50px
}

/* Navigation */
nav {
    background-color: #7F8CAA;
    width: 100%;
    padding: 13px 0;
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: black;
}
/* Contact button */

.contact-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #45a049;
}

/* Headings */
h1, h2, h3 {
    text-align: center;
    color: #black;
}

/* Footer */

footer{
    bottom: 0;
    position: relative;
    width: 100%;
}
.footer-box{
    text-align:center;
    background: #819A91;
    color: #686868;
    height: 50px;
    width: 100%;

}
.logo {
width:40px;
length:40px;
}
.footer-bottom {
    background: black;
    color: white;
    height: 0px;
    text-align: center;
    padding: 40px;
    width: 100%;
}
